<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pipocando.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>792663BD2F3CC8E30024766B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>792663D32F3CC8E70024766B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>792663DD2F3CC8E70024766B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
