<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APIKey</key>
	<string>&lt;SET_API_KEY_IN_ENV&gt;</string>
	<key>URLBase</key>
	<string>https://api.themoviedb.org/3/</string>
	<key>URLImageBase</key>
	<string>https://image.tmdb.org/t/p/w500/</string>
</dict>
</plist>
